/johnwallis.thread/nbproject/private/
/johnwallis.thread/build/
/Thread1/nbproject/private/
/Thread1/build/
/Thread/nbproject/private/
/Thread/build/
/AngularJSPhoneCat/nbproject/private/
/SplitIP/nbproject/private/
/Web Service APS/Cliente/build/
/Web Service APS/Cliente/nbproject/private/
/Web Service APS/Servidor/build/
/Web Service APS/Servidor/dist/
/Web Service APS/Servidor/nbproject/private/
/Web Service Fribonacci/WebServices01/build/
/Web Service Fribonacci/WebServices01/nbproject/private/
/Web Service Fribonacci/WebServicesCliente01/build/
/Web Service Fribonacci/WebServicesCliente01/dist/
/Web Service Fribonacci/WebServicesCliente01/nbproject/private/
/WebServiceInfoip/target/